# Ignore everything by default
*

# allow readme and gitignore 
!README.md
!.gitignore

# NeoVim Configurations
!nvim/
!nvim/**

# tmux configs
!tmux/
!tmux/**

# wezterm configs
!wezterm/
!wezterm/**

# zsh
!zsh/
!zsh/**
