# Ignore everything by default
*

# allow readme and gitignore 
!README.md
!.gitignore

# NeoVim Configurations
!nvim/.config/nvim/*

# tmux configs
!tmux/.config/tmux/*

# wezterm configs
!wezterm/.config/wezterm/*
